doctype html
html
  head
    title 
      block title

    block meta

    block css
      //- Include common css here
  body

    block navbar

    block content

    block footer

    block scripts
      //- Include common javascript files here